@{
    ViewData["Title"] = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture;
}
<div class="layout-news">
    <div class="layout-new">
        <img class="imgnew" src="/img/news1.png" />
        <div class="content-new">
            <p class="p-news">Du lịch Đà Nẵng : 17 địa điểm du lịch tham quan hấp dẫn nhất</p>
            <p class="p-new">Bà Nà Hill là một trong những địa điểm du lịch đẹp nhất ở Đà Nẵng, nó được mệnh danh là 1 vùng đất......</p>
        </div>
    </div>
    <div class="layout-new">
        <img class="imgnew" src="/img/news2.png" />
        <div class="content-new">
            <p class="p-news">Du lịch Vũng Tàu : cẩm nang từ A đến Z</p>
            <p class="p-new"> Nếu bạn muốn tìm kiếm một địa điểm du lịch Vũng Tàu hoang sơ, không quá đông đúc thì Bãi biển....... </p>
        </div>
    </div>
    <div class="layout-new">
        <img class="imgnew" src="/img/news3.png" />
        <div class="content-new">
            <p class="p-news">13 Địa điểm du lịch Phú Quốc cực mới mẻ</p>
            <p class="p-new">13 Địa Điểm Du Lịch Phú Quốc Bạn Không Nên Bỏ Qua Phú Quốc không chỉ cảnh đẹp mà còn hội..... </p>
        </div>
    </div>
    <div class="layout-new">
        <form class="header-search-form snews">
            <input type="text" class="header-logo--left-input snewsinput" placeholder="Tìm kiếm ..." />
            <button type="submit" class="searchButton srcs">
                <i class="fa-solid fa-magnifying-glass "></i>
            </button>
        </form>
        <p class="newspost">BÀI VIẾT MỚI NHẤT</p>
        <div class="content-news">
            <div class="newimg">
                <img class="news1" src="/img/news3.png" />
                <p class="news2">13 Địa điểm du lịch Phú Quốc cực mới mẻ</p>
            </div>
            <div class="newimg">
                <img class="news1" src="/img/news2.png" />
                <p class="news2"> Du lịch Vũng Tàu : cẩm nang từ A đến Z</p>
            </div>
            <div class="newimg">
                <img class="news1" src="/img/news1.png" />
                <p class="news2">Du lịch Đà Nẵng : 17 địa điểm du lịch tham quan hấp dẫn nhất</p>
            </div>
        </div>
    </div>
</div>