@{
    ViewData["Title"] = "Dịch vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture;
}

<div class="services--app">
    <p class="services--des">Thức dậy bởi tiếng còi của biển và bắt đầu ngày mới của bạn tại bãi biển. Các yếu tố ôm lấy bạn với sự ấm áp của khách sạn Lucky </p>
    <div class="services--imgs">
        <img class="into--img" src="/img/gt1.png" />
        <img class="into--img" src="/img/gt2.png" />
        <img class="into--img" src="/img/gt3.png" />
    </div>
    <p class="services--title">Những tiện ích</p>
    <p class="des2">Thức dậy bởi tiếng còi của biển và bắt đầu ngày mới của bạn tại bãi biển. Các yếu tố ôm lấy bạn với sự ấm áp của khách sạn Lucky</p>
    <div class="services--imgs">
        <img class="into--img" src="/img/gt4.png" />
        <img class="into--img" src="/img/gt5.png" />
        <img class="into--img" src="/img/gt6.png" />
    </div>
    <p class="services--title">Tiệc cưới</p>
    <p class="services--des">Thức dậy bởi tiếng còi của biển và bắt đầu ngày mới của bạn tại bãi biển. Các yếu tố ôm lấy bạn với sự ấm áp của khách sạn Lucky</p>

    <div class="services-img--div">
        <div class="img--sa">
            <img class="into--img-ico" src="/img/foodic.png" />
            <div class="detail-services--img">
                <p class="detail-services--img-title">Thức uống đa dạng</p>
                <p class="detail-services--img-des">Những loại thức uống đa dạng của khách sạn Lucky bạn không thể bỏ lỡ.</p>
            </div>
        </div>
        <div class="img--sa">
            <img class="into--img-ico" src="/img/Pool.png" />
            <div class="detail-services--img">
                <p class="detail-services--img-title">Hồ bơi ngoài trời</p>
                <p class="detail-services--img-des">Hồ bơi khách sạn Lucky sẽ đáp ứng được nhu cầu bơi lội của bạn với khung cảnh đẹp yên tĩnh và hồ bơi nước rất sạch.</p>
            </div>
        </div>
        <div class="img--sa">
            <img class="into--img-ico" src="/img/Massage.png" />
            <div class="detail-services--img">
                <p class="detail-services--img-title">Massage</p>
                <p class="detail-services--img-des">Dịch vụ massage của khách sạn Lucky được phục vụ bởi đội ngũ KTV trẻ tuổi được tuyển chọn kỹ càng từ ngoại hình, khuôn, mặt dọng nói đảm bảo mang lại cho khách hàng sự hài lòng tuyệt đối.</p>
            </div>
        </div>
    </div>
    <div class="services-img--div">
        <div class="img--sa">
            <img class="into--img-ico" src="/img/Bath.png" />
            <div class="detail-services--img">
                <p class="detail-services--img-title">Bồn tắm sông hơi</p>
                <p class="detail-services--img-des">Bồn tắm của khách sạn này được làm từ chất liệu cao cấp nên sẽ giúp khách hàng có được những giây phút thư giãn tuyệt vời.</p>
            </div>
        </div>
        <div class="img--sa">
            <img class="into--img-ico" src="/img/laundry.png" />
            <div class="detail-services--img">
                <p class="detail-services--img-title">Giặt ủi</p>
                <p class="detail-services--img-des">Khách sạn Lucky cung cấp dịch vụ giặt ủi phục vụ trong cùng một ngày.</p>
            </div>
        </div>
        <div class="img--sa">
            <img class="into--img-ico" src="/img/Cocktail.png" />
            <div class="detail-services--img">
                <p class="detail-services--img-title">Bar club</p>
                <p class="detail-services--img-des">Bạn sẽ tìm thấy những giây phút thoải mái và dễ chịu khi thư giãn tuyệt đối với âm nhạc và sự nhẹ nhàng, tinh tế, quầy bar được trang trí tinh xảo với những ly cocktail tuyệt vời!</p>
            </div>
        </div>
    </div>
</div>